<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
    background-color: burlywood;
}
.link {
    color: orangered;
    font-size: 20px;
}
.header {
    font-size: 30px;
    color: blue;
}
.text {
    font-size: 25px;
}
.column {
    display: flex;
    flex-direction: column;
}
    </style>
</head>
<body>
    <div class="column">

    <h1 class="header">Hi!</h1>
    <p class="text">I am a junior front end developer who is also interested in back-end in python.</p>
    <p class="text"> I don't have experience in backend and python - but I am willing to learn!</p>
    
    <p class="text">I have some experience in JavaScript (Typescript), Vue, React. </p>

    
    <a class="link" href="/todos">выводит список любых элементов из базы данных.</a>
    <img width="400" src="https://media3.giphy.com/media/mcsPU3SkKrYDdW3aAU/200w.gif?cid=6c09b952wmel0ya1k54d37td2vyv9zm7ndnycy0djzwl1j99&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="me working">
    </div>
   
</body>
</html>